{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/index.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row">
                    {% include 'dashboard/left.html' %}
                    {% include 'dashboard/center.html' %}
                    {% include 'dashboard/right.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script data-id="cmamoaswv0003l80bfxnvuqhg" src="https://tinychat.ai/tinychat.js" async defer></script>
    <script>
        const CurrentUser = {
            nickname: "{{ current_user.nickname }}",
            username: "{{ current_user.username }}",
            lastLogin: "{{ current_user.last_login }}Z",
            createdAt: "{{ current_user.created_at }}Z",
            exercises: {{ current_user.exercises | tojson }},
            bodyMeasurements: {{ current_user.body_measurements | tojson }},
            calorieIntakes: {{ current_user.calorie_intakes | tojson }},
            calorieBurned: {{ burned_by_date | tojson }},
            scheduledExercises: {{ current_user.scheduled_exercises | tojson }},
            goals: [
                {% for goal in current_user.goals %}
                    {
                        id: {{ goal.id }},
                        current: {{ goal.current_value }},
                        target: {{ goal.target_value }}
                    },
                {% endfor %}
            ],
        }
        const MetricsByType = {{ metrics_by_type| tojson }}
        const BMI = {{ bmi| tojson }}
        const Weather = {{ weather_forecast| tojson }}
        document.getElementById("now").textContent = new Date().toLocaleString("en-US", {
            weekday: "long",
            day: "2-digit",
            month: "short",
            year: "numeric"
        })
    </script>
    <script src="{{ url_for('static', filename='js/dashboard/user.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard/charts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard/calendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard/goals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard/bmi.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard/water.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard/weather.js') }}"></script>
{% endblock %}