{% extends "base.html" %}

{% block title %}
    Hello, {{ g.user.nickname }}!
{% endblock %}

{% block content %}
    <h1>Hello, {{ g.user.nickname }}!</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <label for="username" class="form-label">Username:</label>
        <input type="text" name="username" class="form-control" id="username" value="{{ g.user.username }}" disabled/>
        <br/>
        <label for="nickname" class="form-label">Nickname:</label>
        <input type="text" name="nickname" class="form-control" id="nickname" value="{{ g.user.nickname }}"/>
        <br/>
        <label for="email" class="form-label">Email:</label>
        <input type="email" name="email" class="form-control" id="email" value="{{ g.user.email }}" required/>
        <br/>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}
