<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous">
    </script>
    <!-- <style>
    .navbar {
      width: 100%;
      margin: 0 auto;
      height: 80px;
    }
    </style> -->
</head>
<body>
    <div class="mainstr"> 
        <!-- nav bar -->
        {% include 'navbar.html' %}
        <!-- upload data -->
        <div class="container upload">
            <div class="uploadFile">
                <div class="h4 mt-2 mb-2">&nbsp; Upload your data file</div>
                <div>&nbsp; Only csv files with the same format and column names as the following file example are supported:</div>
                <table class="table">
                    <thead>
                        <tr><th>Running(whole number)</th><th>Cycling(whole number)</th>
                        <th>Swinging</th><th>Yoga</th><th>Weight(kg)</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>2000</td><td>2000</td><td>2000</td><td>2000</td><td>66.6</td></tr>
                        <tr><td>2000</td><td>2000</td><td>2000</td><td>2000</td><td>88.8</td></tr>                        
                    </tbody>
                </table>
                <!-- here the value of action is only a placeholder, it should be replaced with the url of the server that will process the data -->
                <form action="">
                    <label for="file"class="form-label h6">&nbsp; Upload your file</label> 
                    <input type="file" class="form-control mb-2" name="file" id="file" accept=".csv">
                    <div class="text-center"><button type="submit" class="btn btn-primary mt-2">Submit</button></div>
                </form> 
            </div>
        
            <div class="uploadForm">
                <form method="post">
                    <div class="h4 mt-2 mb-2">&nbsp; Fill in a form</div>
                    <div>&nbsp; Alternatively, you can fill the form directly, please note the max length of the form is 7 rows.</div>
                    <div id="form">
                        <div>
                        <input type="text" name="Running" placeholder="Running">
                        <input type="text" name="Cycling" placeholder="Cycling">
                        <input type="text" name="Swimming" placeholder="Swimming">
                        <input type="text" name="Yoga" placeholder="Yoga">
                        <input type="text" name="Weight" placeholder="Weight">
                        </div>
                        
                    </div>
                    <!-- <button type="button">add row</button> -->
                    <div  class="bt"><button type="button" class="btn btn-outline-primary" id="add">Add a row</button>
                   <button type="submit" id="formSubmit" class="btn btn-primary mt-2">Submit</button></div>
                    <!-- <button type="submit" class="formSubmit">Submit</button> -->
              </form>
            </div>
        </div>
    </div>
    <script src={{url_for('static',filename='frontend.js')}}></script>
</body>
</html>