{% extends "base.html" %}

{% block title %}
    Browse
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/browse/index.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container py-5">
        {% include "browse/modal.html" %}
        <div class="row g-4">
            <div class="col-sm-12 col-lg-4">
                <div class="card shadow-sm border-0 left-block">
                    <h5 class="card-header">Visualization</h5>
                    <div class="card-body">
                        <div class="btn-group" role="group" aria-label="Browse data">
                            <input type="radio" class="btn-check" name="dataset" id="browseExercise" checked>
                            <label class="btn btn-outline-primary btn-sm d-flex align-items-center"
                                   for="browseExercise">
                                Exercise
                            </label>
                            <input type="radio" class="btn-check" name="dataset" id="browseCalorieIntake">
                            <label class="btn btn-outline-primary btn-sm d-flex align-items-center"
                                   for="browseCalorieIntake">
                                Calorie Intake
                            </label>
                            <input type="radio" class="btn-check" name="dataset" id="browseBodyMeasurement">
                            <label class="btn btn-outline-primary btn-sm d-flex align-items-center"
                                   for="browseBodyMeasurement">
                                Body Measurement
                            </label>
                        </div>

                        <div class="btn-group mt-3">
                            <input type="radio" class="btn-check" id="tableButton" name="visualType" checked>
                            <label class="btn btn-outline-primary btn-sm" for="tableButton">Table</label>
                            <input type="radio" class="btn-check" id="chartButton" name="visualType">
                            <label class="btn btn-outline-primary btn-sm" for="chartButton">Chart</label>
                        </div>
                    </div>
                </div>
                <div class="card shadow-sm border-0 left-block mt-3">
                    <h5 class="card-header">Analytics</h5>
                    <div class="card-body">
                        <div class="btn-group mt-3" role="group" aria-label="Basic outlined example">
                            <a type="button" class="btn btn-outline-primary"
                               href="{{ url_for('browse.exercise') }}">
                                Exercises
                            </a>
                            <a type="button" class="btn btn-outline-primary"
                               href="{{ url_for('browse.body_measurement') }}">
                                Body Measurement
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">
                <div class="card right-block shadow-sm border-0">
                    <div class="card-header d-flex justify-content-between">
                        <button class="btn btn-circle btn-add" onclick="showModal()">
                            <i class="bi bi-plus"></i>
                        </button>
                        <select class="form-select" style="width:40%; text-align: center;" aria-label="Data types"
                                id="dataTypeSelect">
                        </select>
                    </div>
                    <table class="card-body table table-striped table-hover" id="tableCard">
                        <thead id="browseTableHeader"></thead>
                        <tbody id="browseTableBody"></tbody>
                    </table>
                    <div class="card-body d-none" id="chartCard"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/browse/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browse/control.js') }}"></script>
    <script>
        const ExercisesMetrics = {{ exercise_metrics | tojson }}
        const ExercisesTypes = {{ exercise_types | tojson }}
        const BodyMeasurementUnits = {
            WEIGHT: ["kg", "lb"],
            HEIGHT: ["cm", "in"],
            BODY_FAT: ["%"],
        }
        const BodyMeasurementTypes = {{ body_measurement_types | tojson }}
        const UserExercises = {{ current_user.exercises | tojson }}
        const UserBodyMeasurements = {{ current_user.body_measurements | tojson }}
        const UserCalorieIntakes = {{ current_user.calorie_intakes | tojson }}


        // Initialize
        renderDataTypeOptions()
        renderDataView()
        document.addEventListener("change", function (event) {
            if (event.target.matches("input[name='dataset']")) {
                renderDataTypeOptions()
                renderDataView()
            } else if (event.target.matches("input[name='visualType']")) {
                const selectedVisualType = event.target.id
                const tableCard = document.querySelector("#tableCard")
                const chartCard = document.querySelector("#chartCard")
                if (selectedVisualType === "tableButton") {
                    tableCard.classList.remove("d-none")
                    chartCard.classList.add("d-none")
                } else {
                    tableCard.classList.add("d-none")
                    chartCard.classList.remove("d-none")
                }
                renderDataView()
            } else if (event.target.matches("#dataTypeSelect")) {
                renderDataView()
            }
        })
    </script>
{% endblock %}