body {
    background: #292a2c51;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s;
}

.navbar.scrolled,
.navbar:has(.collapsing, .show) {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.page-content {
    padding-top: 56px;
    min-height: calc(100vh - 56px);
}
