/* clear original format */
body {
   margin: 0;
   padding: 0;
   border: none;
}

a {
   text-decoration: none;
   color: inherit;
}



.imageblock {
   height: 100%;
   object-fit: cover;
   /* display:block; */
   object-position: center;
}

.mainstr {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: #f8f9fa;
}

.navbar.navbar-expand-lg.bg-body-tertiary.bg-dark.border-bottom.border-body{
   position:sticky;
   top:0;
   z-index: 100;
   height: 15vh;
}

.nav-link:active {
   color: var(--bs-navbar-active-color);
}

/* .navbar-text a:active{
    color:var(--bs-navbar-active-color);
    margin-right:2%;
}
.navbar-text a:hover{
    color: var(--bs-navbar-active-color);
} */
.carousel {
   flex: 1;
   overflow: hidden;
   /* if not add, the flex will not work */
}

.carousel-inner {
   height: 100%
}

.carousel-item {
   height: 100%
}
.bt{
   margin-top: 1%;
   text-align: center;
}
.content {
   flex: 1;
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-evenly;
   /* background-color:aliceblue; */
}

.module {
   /* flex:1; */
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: azure;
   width: 30%;
}

.icon {
   height: 10%;
   width: 10%;
}

.carousel-control-next-icon {
   color: antiquewhite !important;
}

.h4:hover {
   color: lightgray;
}

.offcanvas.offcanvas-start {
   width: 40vh;
}

.dropdown-menu {
   --bs-dropdown-border-width: 0px;
}

@media (max-width:768px) {
   #search {
      position: absolute;
      left: -300px;
   }

   #search.show {
      left: 0;
   }
}

.upload {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height:85vh;
}
.uploadForm,.uploadFile{
   background-color: #f8f9fa;
   flex:2;
   /* max-height:40%; */
}
.outset{
   box-shadow:2px 2px rgb(0,0,0,0.3);
}
.inset{
   box-shadow:inset 2px 2px rgb(0,0,0,0.3); 
}
.uploadForm{
   display:none;
}
#form{
   background-color: #f8f9fa;
   margin-left: 2%;
   /* display: flex;
   flex-direction: column;
   justify-content:center; */
}
#form div:nth-child(1){
   margin-top: 2%;
}
.formSubmit{
   display:block;
   margin: auto;
}


.visualize{
   flex:6;
}
.introductory{
   display:flex;
   flex-direction:column;
   justify-content: space-around;
   height:85vh;
}