/* clear original format */
body{
    margin:0;
    padding:0;
    border:none;
}
a{
    text-decoration:none;
    color:inherit;
}



.imageblock{
    height:100%;
    object-fit: cover;
    /* display:block; */
    object-position: center;
}
 .mainstr{
    display:flex;
    flex-direction: column;
    height:100vh;
 }
 .navbar{
    flex:1;
}
/*  */
.navbar-text a{
    color:var(--bs-nav-link-color);
    margin-right:2%;
}
.navbar-text a:hover{
    color: var(--bs-navbar-active-color);
}
 .carousel{
    flex:3;
    overflow: hidden;  /* if not add, the flex will not work */
 }
 .carousel-inner{
    height:100%
 }
 .carousel-item{
    height:100%
 }
 .content{
    flex:3;
    width: 80%;
    margin: auto;
    display:flex;
    justify-content:space-evenly;
    /* background-color:aliceblue; */
 }
 .module{
    /* flex:1; */
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    width:30%;
 }
.icon{
    height:10%;
    width: 10%;
}
 .carousel-control-next-icon{
    color:antiquewhite !important; 
 }
 .h4:hover{
    color:lightgray;
 }
  