{% extends "base.html" %}

{% block title %}
    Sport Tracker
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/index.css') }}"/>
{% endblock %}

{% block overlap_content %}
    <div class="big-screen">
        <div class="row text-center">
            <div class="col-12 slogan">
                <h1 class="display-4 fw-bold">
                    <i class="bi bi-speedometer2 me-2"></i>
                    Sport Tracker
                </h1>
                <p>Your Comprehensive Fitness Companion</p>
            </div>
        </div>
        {% if current_user.is_authenticated %}
            <div class="start-button">
                <button class="btn btn-light" onclick="toDashboard()">Open dashboard</button>
            </div>
            <p>Welcome back, {{ current_user.nickname }}!</p>
        {% else %}
            <div class="start-button">
                <button class="btn btn-light" onclick="toRegister()">Get started for free</button>
            </div>
            <p>Already have an account? <a id="toggleLoginBtn">Login</a> now.</p>
        {% endif %}
    </div>
    <div class="content-block">
        <div class="block-tag">Features</div>
        <h1>Track your workouts</h1>
        <div class="block-space"></div>
        <div class="container text-center block-content">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="mb-4">Track Every Move</h2>
                    <p>
                        Log your workouts and body metrics like weight with ease. Our app calculates calories burned and
                        BMI, giving you clear insights into your progress.
                    </p>
                </div>
                <div class="col">
                    <img src="{{ url_for('static', filename='img/index.feature1.jpg') }}" alt="Track Every Move"
                         class="img-fluid">
                </div>
            </div>
            <div class="block-space"></div>
            <div class="row align-items-center">
                <div class="col">
                    <img src="{{ url_for('static', filename='img/index.feature2.jpg') }}" alt="Plan & Achieve Goals"
                         class="img-fluid">
                </div>
                <div class="col">
                    <h2 class="mb-4">Plan & Achieve Goals</h2>
                    <p>
                        Create personalized weekly schedules and set fitness targets. Watch your goal completion rate
                        grow as you stay on track—motivation made simple.
                    </p>
                </div>
            </div>
            <div class="block-space"></div>
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="mb-4">Earn & Celebrate</h2>
                    <p>
                        Unlock achievements as you hit milestones. Every workout counts, and every success deserves
                        recognition.
                    </p>
                </div>
                <div class="col">
                    <img src="{{ url_for('static', filename='img/index.feature3.jpg') }}" alt="Earn & Celebrate"
                         class="img-fluid">
                </div>
            </div>
            <div class="block-space"></div>
            <div class="row align-items-center">
                <div class="col">
                    <img src="{{ url_for('static', filename='img/index.feature4.jpg') }}" alt="Share Privately"
                         class="img-fluid">
                </div>
                <div class="col">
                    <h2 class="mb-4">Share Privately</h2>
                    <p>
                        Connect with friends in a secure space to share your fitness journey. Celebrate progress
                        together—no public posts, just your trusted circle.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-block">
        <div class="block-tag">Plans</div>
        <h1>Choose your plan</h1>
        <div class="block-space"></div>
        <div class="card-group">
            <div class="card plan-card">
                <div class="card-body">
                    <h2>Free Plan</h2>
                    <h1 class="card-title">$0</h1>
                    <p class="plan-info">Track your workouts with ease.</p>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('dashboard.index') }}" class="btn btn-light w-100">Get started</a>
                    {% else %}
                        <a href="{{ url_for('user.register') }}" class="btn btn-light w-100">Get started</a>
                    {% endif %}
                    <p class="plan-info w-100 text-center mt-1">No credit card required.</p>
                    <hr class="my-4">
                    <h5 class="plan-info">What's included</h5>
                    <span class="plan-info">
                        <i class="bi bi-check"></i>
                        Track your workouts
                    </span>
                    <br>
                    <span class="plan-info">
                        <i class="bi bi-check"></i>
                        Create weekly schedules
                    </span>
                    <br>
                    <span class="plan-info">
                        <i class="bi bi-check"></i>
                        Set fitness goals
                    </span>
                    <br>
                    <span class="plan-info">
                        <i class="bi bi-check"></i>
                        Share your activity
                    </span>
                </div>
            </div>
            <div class="card plan-card">
                <div class="card-body">
                    <h2>Pro Plan</h2>
                    <h1 class="card-title">$5<span class="fs-5">/mo</span></h1>
                    <p class="plan-info">Analytics and coaching features.</p>
                    <a href="" class="btn btn-light w-100">Coming Soon</a>
                    <p class="plan-info w-100 text-center mt-1">Cancel at any time.</p>
                    <hr class="my-4">
                    <h5 class="plan-info">What's included</h5>
                    <span class="plan-info">
                        <i class="bi bi-check"></i>
                        All Free Plan features
                    </span>
                    <br>
                    <span class="plan-info">
                        <i class="bi bi-check"></i>
                        Advanced analytics
                    </span>
                    <br>
                    <span class="plan-info">
                        <i class="bi bi-check"></i>
                        Personalized coaching
                    </span>
                    <br>
                    <span class="plan-info">
                        <i class="bi bi-check"></i>
                        Priority support
                    </span>
                </div>
            </div>
        </div>
        <div class="block-space"></div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-links">
                <a href="{{ url_for('index.about') }}">About</a>
                <a href="{{ url_for('index.contact') }}">Contact</a>
                <a href="{{ url_for('index.privacy') }}">Privacy</a>
                <a href="{{ url_for('index.terms') }}">Terms</a>
            </div>
            <div class="footer-copyright">
                <p>© 2025 SportTrack. All rights reserved.</p>
            </div>
        </div>
    </footer>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/index/index.js') }}"></script>
{% endblock %}